@font-face {
  font-family: 'cvicons';
  src:  url('../fonts/cvicons.eot');
  src:  url('../fonts/cvicons.eot#iefix') format('embedded-opentype'),
    url('../fonts/cvicons.ttf') format('truetype'),
    url('../fonts/cvicons.woff') format('woff'),
    url('../fonts/cvicons.svg#cvicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cv-icons"], [class*=" cv-icons"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cvicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cv-icons:before {
  content: "\e900";
}
.cv-icons_animals:before {
  content: "\e901";
}
.cv-icons_book:before {
  content: "\e902";
}
.cv-icons_experience:before {
  content: "\e903";
}
.cv-icons_mail:before {
  content: "\e904";
}
.cv-icons_photography:before {
  content: "\e905";
}
.cv-icons_star:before {
  content: "\e906";
}
.cv-icons_star-b:before {
  content: "\e907";
}
.cv-icons_student:before {
  content: "\e908";
}
.cv-icons_technology:before {
  content: "\e909";
}
.cv-icons_telephone:before {
  content: "\e90a";
}
.cv-icons_web:before {
  content: "\e90b";
}

