@font-face {
  font-family: 'roboto-medium';
  src: url(../fonts/roboto/roboto-medium.eot#iefix) format('embedded-opentype'), url(../fonts/roboto/roboto-medium.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-bold';
  src: url(../fonts/roboto/roboto-bold.eot#iefix) format('embedded-opentype'), url(../fonts/roboto/roboto-bold.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-regular';
  src: url(../fonts/opensans/opensans-regular.eot#iefix) format('embedded-opentype'), url(../fonts/opensans/opensans-regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-semibold';
  src: url(../fonts/opensans/opensans-semibold.eot#iefix) format('embedded-opentype'), url(../fonts/opensans/opensans-semibold.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
/*reset*/
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body {
	font-family:"opensans-regular", sans-serif;
	font-size: 100%;
	color: #3c3c3c;
	background-color: #fff;
	line-height: 1;
}
a {
	color: #4ad7ff;
	text-decoration: none;
	font-family: "opensans-regular", sans-serif;
}
img {
	max-width: 100%;
}
ul {
	list-style-type:none;
}

/*header*/
.main {
	background-color:#fff;
	margin:0 auto;
	position:relative;
	width:60%;
}
.container {
	margin:auto;
	padding:0 12px;
}
.cv-header {
	display:inline-block;
	vertical-align:middle;
	width:70%;
}
.cv-header__name {
	color:#3c3c3c;
	font-family:"roboto-bold";
	font-size:24px;
}
.cv-header__title {
	color:#959595;
	font-family:"opensans-regular",arial;
	font-size:16px;
}
.cv-list__contact {
	display:inline-block;
	vertical-align:middle;
	width:20%;
}

/*content*/
.cv-star { 
	vertical-align: text-bottom;
}

.cv-content__table {
	display:table;
	width:100%;
}
.cv-row {
	display:table-row;
}
.cv-cell{
	display:table-cell;
	width:50%;
}





/*timeline*/
.cv-container {
  max-width: 1024px;
  margin: 0 auto;
}
.cv-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

.cv-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
.cv-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

.cv-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cv-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cv-timeline-block:first-child {
  margin-top: 0;
}
.cv-timeline-block:last-child {
  margin-bottom: 0;
}
.cv-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cv-timeline-img img {
  display: block;
  width: 27px;
  height: 27px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -14px;
  margin-top: -14px;
}
.cv-timeline-img.cv-picture {
  background: #75ce66;
}
.cv-timeline-img.cv-experience {
  background: #f0ca45;
}
.cv-timeline-content {
  position: relative;
  margin-left: 60px;
  background: #f0f0f0;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #e3e3e3;
}
.cv-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cv-timeline-content h2 {
  color: #303e49;
}
.cv-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cv-timeline-content .cv-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cv-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #f0f0f0;
}



/*MEDIA*/

@media only screen and (max-width: 768px) {
	.cv-header {
		margin-bottom:20px;
		width:100%;
	}
	.cv-list__contact {
		margin-bottom:20px;
		width:100%;
	}
}


@media only screen and (min-width: 1170px) {
  .cv-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .cv-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

@media only screen and (min-width: 1170px) {
  .cv-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}
 
 @media only screen and (min-width: 1170px) {
  .cv-timeline-block {
    margin: 4em 0;
  }
  .cv-timeline-block:first-child {
    margin-top: 0;
  }
  .cv-timeline-block:last-child {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 768px) {
  .cv-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cv-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cv-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cv-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cv-timeline-block:nth-child(even) .cv-timeline-content {
    float: right;
  }
  .cv-timeline-block:nth-child(even) .cv-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cv-timeline-block:nth-child(even) .cv-timeline-content .cv-read-more {
    float: right;
  }
  .cv-timeline-block:nth-child(even) .cv-timeline-content .cv-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
}



