@font-face {
  font-family: 'roboto-medium';
  src: url(../fonts/roboto/roboto-medium.eot#iefix) format('embedded-opentype'), url(../fonts/roboto/roboto-medium.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-bold';
  src: url(../fonts/roboto/roboto-bold.eot#iefix) format('embedded-opentype'), url(../fonts/roboto/roboto-bold.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-regular';
  src: url(../fonts/opensans/opensans-regular.eot#iefix) format('embedded-opentype'), url(../fonts/opensans/opensans-regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-semibold';
  src: url(../fonts/opensans/opensans-semibold.eot#iefix) format('embedded-opentype'), url(../fonts/opensans/opensans-semibold.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

/*reset*/

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin:0;
	padding:0;
}
body {
	background-color: #fff;
	color: #3c3c3c;
	font-family:"opensans-regular", sans-serif;
	font-size: 100%;
	line-height: 1;
}
a {
	color: #4ad7ff;
	font-family: "opensans-regular", sans-serif;
	text-decoration: none;
	
}
img {
	max-width: 100%;
}
ul {
	list-style-type:none;
}

/*header*/
.main {
	background-color:#fff;
	margin:0 auto;
	position:relative;
	max-width:600px;
}
.container {
	margin:20px auto;
	padding:0 12px;
	width:100%;
}
.cv-container{
	margin:0 auto;
}
.cv-header {
	display:inline-block;
	margin-bottom:10px;
	vertical-align:middle;
	width:100%;
}
.cv-header__name {
	color:#3c3c3c;
	font-family:"roboto-bold";
	font-size:24px;
	padding-bottom:10px;
}
.cv-header__title {
	color:#959595;
	font-family:"opensans-regular",arial;
	font-size:16px;
}
.cv-list__contact {
	display:inline-block;
	margin:20px 0 30px;
	vertical-align:middle;
	width:100%;
}

/*content*/
.cv-icons_star ,
.cv-icons_star-b{ 
    display: inline-block;
    height: 25px;
	position: relative;
	vertical-align: text-bottom;
	width: 25px;
}
.cv-icons_star:before {
	font-size:25px;
}
.cv-icons_star-b:before  {
	font-size:24px;
}
.cv-icons_star_b {
	color:#959595;
}
.cv-icons {
	left: 5px;
	position: relative;
    top: 5px;
}
.cv-icons_student,
.cv-icons_experience {
   display: inline-block;
   height: 30px;
   position: relative;
   width: 30px;
}
.cv-icons_student:before,
.cv-icons_experience:before {
   color:white;
   font-size:30px;	
}

.cv-headercontent__title {
	background:linear-gradient(to right, #efefef, #f9f9f9);
	font-size:20px;
	margin:20px 0 10px -12px;
	padding:12px;
}

.cv-content__table {
	display:table;
	width:100%;
}
.cv-row {
	display:table-row;
}
.cv-cell{
	display:table-cell;
	padding-bottom:10px;
	width:50%;
}

/*timeline*/
.cv-headertimeline__title {
	background:linear-gradient(to right, #efefef, #f9f9f9);
	border:none;
	color:#3c3c3c;
	font-size:20px;
	font-family:"opensans-regular",arial;
	margin:20px 0 10px -12px;
	padding:12px;
}
.cv-headertimeline__title:after {
	content:"{+}";
}
.cv-headertimeline__title.ico:after {
	content:"{-}";
}
.cv-headertimeline__title.ico + .cv-timeline{
	display:block;
}


.cv-container::after {
	/* clearfix */
	clear: both;
	content: '';
	display: table;
}
.cv-timeline {
	display:none;
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
	padding: 20px 0;
}
.cv-timeline::before {
	/* this is the vertical line */
	background: #d7e4ed;
	content: '';
	height: 100%;
	left: 18px;
	position: absolute;
	top: 0;
	width: 4px;
}
.cv-timeline-block {
	margin: 20px 0;
	position: relative;
}
.cv-timeline-block:after {
	clear: both;
	content: "";
	display: table;
}
.cv-timeline-block:first-child {
	margin-top: 0;
}
.cv-timeline-block:last-child {
	margin-bottom: 0;
}
.cv-timeline-img {
	border-radius: 50%;
	box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
	height: 40px;
	left: 0;
	position: absolute;
	top: 0;
	width: 40px;
}
.cv-timeline-img img {
	display: block;
	height: 27px;
	left: 50%;
	margin-left: -14px;
	margin-top: -14px;
	position: relative;
	top: 50%;
	width: 27px;
}
.cv-timeline-img.cv-picture {
	background: #75ce66;
}
.cv-timeline-img.cv-experience {
	background: #f0ca45;
}
.cv-timeline-content {
	background: #f0f0f0;
	border-radius: 25px;
	box-shadow: 0 3px 0 #e3e3e3;
	margin-left: 60px;
	padding: 15px;
	position: relative;
}
.cv-timeline-content time {
	font-weight:bold;
}
.cv-timeline-content:after {
	content: "";
	clear: both;
	display: table;
}
.cv-timeline-content h2 {
	color: #303e49;
}
.cv-timeline-content p {
	font-size:14px;	
	line-height: 18px;
	margin: 10px 0;
}
.cv-timeline-content .cv-date {
	float: left;
	padding: 8px 0;
	opacity: .7;
}
.cv-timeline-content::before {
	border: 7px solid transparent;
	border-right: 7px solid #f0f0f0;
	content: '';
	height: 0;
	position: absolute;
	right: 100%;
	top: 16px;
	width: 0;
  }
/*interest*/
.cv-headerinterest__title {
	background:linear-gradient(to right, #efefef, #f9f9f9);
	font-size:20px;
	margin:20px 0 10px -12px;
	padding:12px;
}
.cv-interest__item {
	display:inline-block;
	margin-bottom:10px;
}
.cv-interest__list {
	text-align:center;
}
.cv-icons_animals:before,
.cv-icons_book:before,
.cv-icons_photography:before,
.cv-icons_technology:before {
	padding-right:10px;
}	
.cv-icons_animals:before,
.cv-icons_book:before,
.cv-icons_photography:before,
.cv-icons_technology:before {
	font-size:40px;
	position:relative;
}
.cv-icons_animals:hover:before,
.cv-icons_book:hover:before,
.cv-icons_photography:hover:before,
.cv-icons_technology:hover:before {
	font-size:40px;
}
.cv-interest__item__technology,
.cv-interest__item__photography,
.cv-interest__item__animals,
.cv-interest__item__book {
	display:none;
}

.cv-list__contact {
	margin-top:50px;
}
.cv-list__contact .cv-list__item {
	font-size:14px;
	line-height:20px;
}


/* d'aqui cap a baix revisar tot el codi*/
/*MEDIA*/

@media only screen and (min-width: 600px) {
	.cv-icons {
		left: 10px;
		position: relative;
		top: 10px;
	}
	.cv-icons_student:before,
	.cv-icons_experience:before {
		font-size:40px;	
	}
	
	
	
	
	
	
  .cv-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .cv-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
  .cv-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cv-timeline-block {
    margin: 4em 0;
  }
  .cv-timeline-block:first-child {
    margin-top: 0;
  }
  .cv-timeline-block:last-child {
    margin-bottom: 0;
  }
  .cv-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cv-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cv-timeline-block:nth-child(even) .cv-timeline-content {
    float: right;
  }
  .cv-timeline-block:nth-child(even) .cv-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cv-timeline-block:nth-child(even) .cv-timeline-content .cv-read-more {
    float: right;
  }
  .cv-timeline-block:nth-child(even) .cv-timeline-content .cv-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
}