@font-face {
  font-family: 'roboto-medium';
  src: url(../fonts/roboto/roboto-medium.eot#iefix) format('embedded-opentype'), url(../fonts/roboto/roboto-medium.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-bold';
  src: url(../fonts/roboto/roboto-bold.eot#iefix) format('embedded-opentype'), url(../fonts/roboto/roboto-bold.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-regular';
  src: url(../fonts/opensans/opensans-regular.eot#iefix) format('embedded-opentype'), url(../fonts/opensans/opensans-regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'opensans-semibold';
  src: url(../fonts/opensans/opensans-semibold.eot#iefix) format('embedded-opentype'), url(../fonts/opensans/opensans-semibold.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

/*reset*/
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body {
	font-family:"opensans-regular", sans-serif;
	font-size: 100%;
	color: #3c3c3c;
	background-color: #fff;
}
a {
  color: #4ad7ff;
  text-decoration: none;
  font-family: "opensans-regular", sans-serif;
}
img {
  max-width: 100%;
}
ul {
	list-style-type:none;
}

.main {
	background-color:#fff;
	position:relative;
}
.container {
	margin:auto;
	padding:0 12px;
}

.star {
	vertical-align: text-bottom;
}
.cv-name {
	color:#3c3c3c;
	font-family:"roboto-bold";
	font-size:24px;
}
.cv-title {
	color:#959595;
	font-family:"opensans-regular",arial;
	font-size:16px;
}
.cv-contact {
	margin:20px 0;
}
.cv-telephone {
	
}
.cv-mail {
	
}
.cv-url {
	
}





.cv-table {
	display:table;
}
.cv-row {
	display:table-row;
}
.cv-cell{
	display:table-cell;
}

/*timeline*/
.cv-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
.cv-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}


